* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
}

#sidebar {
    background-color: cadetblue;
    height: 100vh;
    width: 20%;
}

#todos {
    background-color: chocolate;
    height: 100vh;
    width: 80%;
}