* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh;
}

#container {
    display: flex;
    height: 100%;
}

#sidebar {
    background-color: #8f9aa4;
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

#todos {
    background-color: #f2f0f1;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.project-card,
.task-card {
    display: flex;
    flex-direction: column;
    width: 50vw;
    background-color: #eaaa50;
    color: #393b3c;
    box-shadow: 10px 5px 5px rgb(144, 140, 140);
    margin: 30px 50px;
    padding: 10px;
    gap: 10px;
}

.add-task {
    background-color: #8f9aa4;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    height: 30px;
    text-align: left;
}

.add-task:hover {
    color: #f2f0f1;
}

form {
    display: flex;
    flex-direction: column;
}

dialog {
    width: 30vw;
    margin: 100px auto;
    padding: 30px;
    border-radius: 30px;
    border: none;
}

input {
    margin-bottom: 20px;
    padding: 5px;
}

label {
    margin-bottom: 5px;
}

.btns {
    display: flex;
    gap: 20px;
}

.save-btn, 
.close-btn {
    margin: 20px auto;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(77, 77, 122);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.task-name {
    margin: 15px;
}

.icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.icons-box {
    display: flex;
    gap: 10px;
}

.box {
    display: flex;
    justify-content: space-between;
}

#checklist {
    display: flex;
    gap: 10px;
}

#show-task {
    cursor: pointer;
}
