* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

#container {
    display: flex;
}

#sidebar {
    background-color: #dee2e6;
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 20px;
}

.add-task {
    background-color: #dee2e6;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

#todos {
    background-color: #f8f9fa;
    height: 100vh;
    width: 80%;
}

form {
    display: flex;
    flex-direction: column;
}

dialog {
    width: 30vw;
    margin: 100px auto;
    padding: 30px;
    border-radius: 30px;
    border: none;
}

input {
    margin-bottom: 20px;
    padding: 5px;
}

label {
    margin-bottom: 5px;
}

.btns {
    display: flex;
    gap: 20px;
}

.save-btn, 
.close-btn {
    margin: 20px auto;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(77, 77, 122);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.card {
    display: flex;
    flex-direction: column;
    width: 20vw;
    border: 2px solid rgb(128, 128, 242);
    margin: 20px;
    padding: 10px;
}

#delete {
    width: 20px;
    height: 20px;
}

#box {
    display: flex;
    justify-content: space-between;
}